<div class="artister-mobile">
    {% for post in posts %}
  <a href="{{ post.url }}" class="artister-mobile__card">
    {% if post.featureImage|length %}
      {% set image = post.featureImage.one() %}
      <div>
        <img src="{{ image.getUrl({ width: 800}) }}"
            alt="{{ image.title }}"
            class="artister-mobile__image"
        />
      </div>
    {% endif %}
    <h3 class="artister-mobile__title">{{ post.title }}</h3>
    <p class="artister-mobile__summary">{{ post.summary }}</p>
  </a>
{% endfor %}
    <a href="{{ url('villvillvest2022') }}" class="artister-mobile__button">Se alle artister</a>
</div>