<header class="header">
    <a class="header__link" href="{{ siteUrl }}">
        {% set image = header.logoImage.one %}
        {% if image|length %}
            <img class="header__logo-image" src="{{ image.url({ width: 50 }) }}">
        {% endif %}
        {# <h2 class="header__logo">Vill Vill Vest</h2> #}
        {# {% set image = header.logoImage.one %}
            {% if image|length %}
                <img class="header__logo" src="{{ image.url }}">
            {% endif %} #}
        {# <h2 class="header__year">2021</h2> #}
        {# {% set image = header.logoMobile.one %}
        {% if image|length %}
            <img class="header__logo-mobile" src="{{ image.url({ width: 50 }) }}">
        {% endif %} #}
    </a>
    <nav class="menu">
        <a href="{{ url('billetter') }}" class="header__button">Billetter <span>&rarr;</span></a>
        <div class="header__hamburger-meny">
            <h3 class="header__menu">Meny</h3>
            <div class="header__hamburger">
                <div class="header__burger-line1"></div>
                <div class="header__burger-line2"></div>
                <div class="header__burger-line3"></div>
            </div>
        </div>
    </nav>
</header>