{% extends "_layout" %}

{% set posts = craft.entries().section('konferanse').relatedTo(category).all() %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

  <h1 class="heading--section page-content u-margin-top-2 u-margin-bottom-2">
    <span class="u-color-accent">Music Conference</span> {{ category.title }}
  </h1>
  <section class="page-content u-w-pc-70 u-padding-bottom-2">
    {% for block in konferanseTekst.textAndImage.all() %}
      <div class="u-w-pc-70 paragraph u-margin-bottom-4">
        {% if block.type == 'text' %}
          {{ block.text|nl2br }}
        {% elseif block.type == 'image' %}
          {% for image in block.image.all() %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </section>

  <section class="program-nav page-content u-padding-bottom-4">
    {# <a href="{{ url('konferanse/category/2021') }}" class="program-link">Speakers</a> #}
    <a role="link" aria-disabled="true" href="#" class="program-link program-link--selected">Speakers</a>
    {# <a href="{{ url('konferanse-program') }}" class="program-link">Program</a> #}
    <a role="link" aria-disabled="true" href="#" class="program-link">Program</a>
    <a role="link" aria-disabled="true" href="{{ url('billetter') }}" class="program-link">Delegatpass</a>
  </section>

 {% include "_includes/listing" with { posts: posts } only %} 
{% endblock %}