{% extends "_layout" %}
    {# Inject the content below in the `{% block content        %}` of your `_layout` file #}
    {% block content %}
    {% include "_includes/header" %}

    {% include "_includes/nav" %}

    <section class="hero">
    
    <div id="glider-1" class="glider-contain">
        <div id="gliderHero" class="glider">
            <div>
                {% set image = hero.heroImage.one %}
                {% if image|length %}
                    <img class="hero__image" src="{{ image.url }}">
                {% endif %}
                  
            </div>

            <div>
                {% set image = hero.heroImage.one %}
                {% if image|length %}
                    <img class="hero__image" src="{{ image.url }}">
                {% endif %}  
            </div>

            <div>
                {% set image = hero.heroImage.one %}
                {% if image|length %}
                    <img class="hero__image" src="{{ image.url }}">
                {% endif %}   
            </div>

            <div>
                {% set image = hero.heroImage.one %}
                {% if image|length %}
                    <img class="hero__image" src="{{ image.url }}">
                {% endif %}   
            </div>        

        </div>

        <div class="hero__slide-nav">
            <div role="tablist" id="heroDots" class="dots"></div>
            <button aria-label="Next" id="heroNext" class="glider-next hero__next">Next <span>&#8594</span></button>
            <button aria-label="Previous" id="heroPrev" class="glider-prev hero__prev"><span>&#8592</span> Previous</button>
        </div>
      </div>

      <div class="hero__year">
        <h1>2021</h1>
    </div>
    <div class="hero__info">
        <div class="hero__box-1">
            <p class="hero__paragraph u-bold">Se Lineup 2021 <span>&rarr;</span></p>
        </div>
        <div class="hero__box-2">
            <p class="hero__paragraph u-bold">Kjøp Billett <span>&rarr;</span></p>
        </div>
        </div> 
             
    </section>
                  
      {# <section class="section-lineup">
      <a href="{{ url('artister/category/2021') }}" class="lineup__link">
        <div class="lineup">
            {# {% set image = hero.heroImage.one %}
            {% if image|length %}
                <img class="lineup__image" src="{{ image.url }}">
            {% endif %} #}
            {# <iframe src="https://www.youtube.com/embed/8hV_FeBmfmI?autoplay=1&loop=1&modestbranding=1&rel=0&fs=0&color=white&controls=0&mute=1" width="560" height="315" frameborder="0" class="lineup__image"></iframe>

            
            <div class="lineup__info">
                <a class="lineup__button" href="{{ url('artister/category/2021') }}">Se artister</a>
                <a href="{{ url('artister/category/2021') }}" class="lineup__link">
                    <h1 class="lineup__heading lineup__heading--1 heading--secondary">Se Lineup</h1>
                    <h1 class="lineup__heading lineup__heading--2 heading--secondary">2021</h1>
                </a>
            </div>
        </a>

            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" class="lineup__iframe"></iframe>
        </div>
      </section> #}

      <section class="artister">  
      <div class="artister__text-box">
      <h2 class="artister__heading"><span class="u-color-accent">Artist</span>slipp</h2>
      <p class="artister__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p> 
      </div>
        {% set posts = craft.entries().section('artister').all() %}

            {% include "_includes/artister-row" with { posts: posts } only %}
      </section>

      <section class="artister-mobile-section">
        <div class="artister__text-box">
        <h2 class="artister__heading"><span class="u-color-accent">Artist</span>slipp</h2>
        <p class="artister__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p> 
        </div>
        {% set posts = craft.entries().section('artister').limit(4) %}

            {% include "_includes/artister-row-mobile" with { posts: posts } only %}
      </section>

      <section class="venues page-content">
      <h2 class="venues__heading"><span class="u-color-accent">Vill Vill Vest</span> Scener</h2>
      <p class="venues__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
      <div id="glider-3" class="glider-contain">
        <div id="gliderVenues" class="glider">

            <div class="venues__slide">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JnD-d_MQZGI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Klubb Kok</h2>
                    <p class="venues__slide-paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                    <a href="#" class="venues__slide-button">Besøk</a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RvT2Z586o1U?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Landmark</h2>
                    <p class="venues__slide-paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                    <a href="#" class="venues__slide-button">Besøk</a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NfaEGi43P5I?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Garage</h2>
                    <p class="venues__slide-paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                    <a href="#" class="venues__slide-button">Besøk</a>
                </div>
            </div>
      

      </div>
      <div class="venues__slide-nav">
        <button aria-label="Previous" id="venuesPrev" class="glider-prev"><span class="fas fa-chevron-left"></button>
        <div role="tablist" id="venuesDots" class="dots"></div>
        <button aria-label="Next" id="venuesNext" class="glider-next"><span class="fas fa-chevron-right"></button>
      </div>
      </div>
      </section>

      <section class="venues-mobile">
        <h2 class="venues__heading"><span class="u-color-accent">Vill Vill Vest</span> Venues</h2>
        <p class="venues__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>

        <div class="venues-mobile__card">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/JnD-d_MQZGI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading">Landmark</h2>
                <p class="venues-mobile__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                <a href="#" class="venues__slide-button">Besøk</a>
            </div>
        </div>
        <div class="venues-mobile__card">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/JnD-d_MQZGI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading">Landmark</h2>
                <p class="venues-mobile__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                <a href="#" class="venues__slide-button">Besøk</a>
            </div>
            </div>
        </div>
        <div class="venues-mobile__card">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/JnD-d_MQZGI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading">Landmark</h2>
                <p class="venues-mobile__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                <a href="#" class="venues__slide-button">Besøk</a>
            </div>
        </div>
        </div>
      </section>



      {# <section>   
        {% set posts = craft.entries().section('nyheter').limit(4) %}

            {% include "_includes/nyheter-row" with { posts: posts } only %}
      </section> #}
    
      {# <section class="partners">
        <h2 class="u-center partners__heading">Våre Hovedpartnere</h2>
        <div class="partners__container">
            {% set images = partnere.partnereImages.all() %}
            {% if images | length %}
                {% for image in images %}
                    <img class="partners__logo" src="{{ image.getURL() }}">
                {% endfor %}
            {% endif %}
        </div>
        {# {% set image = partnere.partnereBackground.one %}
            {% if image|length %}
                <img class="partners__background" src="{{ image.url }}">
            {% endif %} #}
      {# </section> #} #}
    {% endblock %}
