{% extends "_layout" %}
    {# Inject the content below in the `{% block content        %}` of your `_layout` file #}
    {% block content %}
                  
      <section class="section-lineup">
      <a href="{{ url('artister/category/2021') }}" class="lineup__link">
        <div class="lineup">
            {# {% set image = hero.heroImage.one %}
            {% if image|length %}
                <img class="lineup__image" src="{{ image.url }}">
            {% endif %} #}
            <iframe src="https://www.youtube.com/embed/8hV_FeBmfmI?autoplay=1&loop=1&modestbranding=1&rel=0&fs=0&color=white&controls=0&mute=1" width="560" height="315" frameborder="0" class="lineup__image"></iframe>

            
            <div class="lineup__info">
                <a class="lineup__button" href="{{ url('artister/category/2021') }}">Se artister</a>
                <a href="{{ url('artister/category/2021') }}" class="lineup__link">
                    <h1 class="lineup__heading lineup__heading--1 heading--secondary">Se Lineup</h1>
                    <h1 class="lineup__heading lineup__heading--2 heading--secondary">2021</h1>
                </a>
            </div>
        </a>

            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" class="lineup__iframe"></iframe>
        </div>
      </section>

      <section>   
        {% set posts = craft.entries().section('artister').limit(4) %}

            {% include "_includes/artister-row" with { posts: posts } only %}
      </section>

      <section class="venues">
      <h2 class="venues__heading">Vill Vill Vest Venues</h2>
      <p class="venues__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
      <div class="venues__videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RvT2Z586o1U?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/NfaEGi43P5I?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/-84fmvRcidw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </section>


      <section>   
        {% set posts = craft.entries().section('nyheter').limit(4) %}

            {% include "_includes/nyheter-row" with { posts: posts } only %}
      </section>
    
      <section class="partners">
        <h2 class="u-center partners__heading">Våre Hovedpartnere</h2>
        <div class="partners__container">
            {% set images = partnere.partnereImages.all() %}
            {% if images | length %}
                {% for image in images %}
                    <img class="partners__logo" src="{{ image.getURL() }}">
                {% endfor %}
            {% endif %}
        </div>
        {# {% set image = partnere.partnereBackground.one %}
            {% if image|length %}
                <img class="partners__background" src="{{ image.url }}">
            {% endif %} #}
      </section>
    {% endblock %}
