{% extends "_layout" %}


{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

  <h1 class="heading--section page-content u-margin-top-2 u-margin-bottom-2">
    <span class="u-color-accent">Music Conference</span> 2022
  </h1>
  <section class="page-content u-w-pc-70 u-padding-bottom-2">
    {% for block in konferanseTekst.textAndImage.all() %}
      <div class="u-w-pc-70 paragraph u-margin-bottom-4">
        {% if block.type == 'text' %}
          {{ block.text|nl2br }}
        {% elseif block.type == 'image' %}
          {% for image in block.image.all() %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% endfor %}
        {% elseif block.type == 'richText' %}
          {{ block.richTextField|nl2br }}
        {% endif %}
      </div>
    {% endfor %}
  </section>

  <section class="program-nav page-content u-padding-bottom-4">
    {# <a href="{{ url('konferanse/category/2021') }}" class="program-link">Speakers</a> #}
    <a role="link" aria-disabled="true" href="{{ url('konferanse/category/2022') }}" class="program-link">Speakers</a>
    {# <a href="{{ url('konferanse-program') }}" class="program-link">Program</a> #}
    <a role="link" aria-disabled="true" href="#" class="program-link program-link--selected">Program</a>
    <a role="link" aria-disabled="true" href="{{ url('billetter') }}" class="program-link">Delegatpass</a>
  </section>

  <section class="u-margin-top-4 page-content">

  {% for block in konferanseprogram.textAndImage.all() %}
      <div class="u-w-pc-70 paragraph u-margin-bottom-4">
        {% if block.type == 'text' %}
          {{ block.text|nl2br }}
        {% elseif block.type == 'image' %}
          {% for image in block.image.all() %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% endfor %}
        {% elseif block.type == 'richText' %}
          {{ block.richTextField|nl2br }}
        {% endif %}

        
      </div>
    {% endfor %}

    

    {# <div class="u-padding-top-4">
      <h2 class="DrukWide-Medium-Web"><span class="u-color-accent">Torsdag 1 sep.</span></h2>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">11:00 - 11:45</h3>
      </div>
      <div>
        <p><span class="u-bold">Lillesalen: </span>Skeivhet i bransjen<p/>
        <p><span class="u-bold">Galleriet: </span>(11:00-12:15) Chartmetric: a peak behind the digial curtain<p/>
      </div>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">12:00 - 12:45</h3>
      </div>
      <div>
        <p><span class="u-bold">Lillesalen: </span>NOPA: låtskriversamtale med Fieh<p/>
        <p><span class="u-bold">Galleriet: </span>(12:15-12:45) Fanget i feeden<p/>
      </div>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">13:00 - 13:45</h3>
      </div>
      <p><span class="u-bold">Lillesalen: </span>GramArt presenterer: Ekspertene svarer<p/>
      <p><span class="u-bold">Galleriet: </span>Musikkforleggerne presents: Sync deals - luck or labor?<p/>
      <p><span class="u-bold">Loftet: </span>Crescat inviterer: hvordan bygge din merkevare som kulturarrangør<p/>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">14:00 - 14:45</h3>
      </div>
      <div>
      <p><span class="u-bold">Lillesalen: </span>In conversation: Dagny<p/>
      <p><span class="u-bold">Galleriet: </span>Teen Spirit: Leading young talents on their own terms<p/>
      <p><span class="u-bold">Loftet: </span>Crescat inviterer: hvordan bygge din merkevare som kulturarrangør<p/>
      </div>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">15:00 - 15:45</h3>
      </div>
      <div>
      <p><span class="u-bold">Lillesalen: </span>Buzz presenterer: Hvordan lage 6x45 minutter musikk<p/>
      </div>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">18:00 - 19:00</h3>
      </div>
      <div>
      <p><span class="u-bold">Lillesalen: </span>Møteplass Music Norway og NKA<p/>
      </div>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">17:30 - 20:00</h3>
      </div>
      <p class="u-margin-bottom-4"><span class="u-bold">Lillesalen: </span>TONO-lounge<p/>
    </div>

    <div class="u-padding-top-4">
      <h2 class="DrukWide-Medium-Web"><span class="u-color-accent">Fredag 2 sep.</span></h2>
      <div>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">10:00 - 10:45</h3>
      </div>
      <p><span class="u-bold">Galleriet: </span>CMU presents: The Digital Dollar Debates<p/>
      <p><span class="u-bold">Loftet: </span>Rundebordssamtale med Grønn festival<p/>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">11:00 - 11:45</h3>
      </div>
      <p><span class="u-bold">Lillesalen: </span>NKA presents: how to sell tickets when people don't know what they're listening to<p/>
      <p><span class="u-bold">Galleriet: </span>CMU presents: Platform responsibility and cancel culture<p/>
      <p><span class="u-bold">Storsalen: </span>Musikkforleggerne inviterer: Coffee & Sync<p/>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">12:00 - 12:45</h3>
      </div>
      <p><span class="u-bold">Lillesalen: </span>Mer enn en post - strategi og merkevarebygging på digitale plattformer<p/>
      <p><span class="u-bold">Galleriet: </span>CMU presents: Diversifying Digital - Where Does Web3 Fit In?<p/>
      <p><span class="u-bold">Storsalen: </span>Musikkforleggerne inviterer: Coffee & Sync<p/>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">13:00 - 13:45</h3>
      </div>
      <p><span class="u-bold">Lillesalen: </span>Musikkontoret presenterer: Demosession<p/>
      <p><span class="u-bold">Galleriet: </span>CMU presents: Great great content on a budget<p/>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">14:00 - 14:45</h3>
      </div>
      <p><span class="u-bold">Lillesalen: </span>Teen Spirit: Meet the consumers<p/>
      <p><span class="u-bold">Galleriet: </span>Teen Spirit: Big tech might not get you rich. But your fans might<p/>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">15:00 - 15:45</h3>
      </div>
      <p><span class="u-bold">Lillesalen: </span>Gramo presenterer: Kreativ kontroll<p/>
      <div>
      <h3 class="paragraph u-bold u-padding-top-4 u-color-accent">16:00 - 17:00</h3>
      </div>
      <p><span class="u-bold">Lillesalen: </span>Møteplass Gramo <p/> #}
    
        {# <div class="konferanse-program">
            <div class="col-1"><h3><span class="u-color-accent">Torsdag 9 sep.</span></h3></div>
            <div class="col-2"><p>10.00-10:45</p></div>
            <div class="col-3"><p>11.00-11:45</p></div>
            <div class="col-4"><p>12.00-12:45</p></div>
            <div class="col-5"><p>13.00-13:45</p></div>
            <div class="col-6"><p>14.00-14:45</p></div>
            <div class="col-7"><p>15:00-15:45</p></div>
   

            <div class="col-1"><h3><span class="u-color-accent">2. etasje</span></h3></div>
            <div class="col-2"><p>NHH goes Antisocial - An invitation to the Last Supper of Indie - part 1</p></div>
            <div class="col-3"><p>NHH goes Antisocial - An invitation to the Last Supper of Indie - part 2</p></div>
            <div class="col-4"><p>NOPA presenterer: Låtskriversamtale med Sondre Lerche og Matias Tellez</p></div>
            <div class="col-5"><p>Røde tall er også penger</p></div>
            <div class="col-6"><p>Den nye vinen</p></div>
            <div class="col-7"></div>
     

            <div class="col-1"><h3><span class="u-color-accent">3. etasje</span></h3></div>
            <div class="col-2"></div>
            <div class="col-3"><p>Hvordan sette sammen et team</p></div>
            <div class="col-4"><p>CMU presents: The Sync Market In 2021</p></div>
            <div class="col-5"><p>CMU presents: Capitalising On The Direct-To-Fan Opportunity</p></div>
            <div class="col-6"><p>Fremtidens digitale superfans</p></div>
            <div class="col-7"><p>Music Norway presenterer: Eksport og identitet</p></div>
        
    </div>



    <div class="konferanse-program u-margin-top-6">
            <div class="col-1"><h3><span class="u-color-accent">Fredag 10 sep.</span></h3></div>
            <div class="col-2"><p>10.00-10:45</p></div>
            <div class="col-3"><p>11.00-11:45</p></div>
            <div class="col-4"><p>12.00-12:45</p></div>
            <div class="col-5"><p>13.00-13:45</p></div>
            <div class="col-6"><p>14.00-14:45</p></div>
            <div class="col-7"><p>15:00-15:45</p></div>
   

            <div class="col-1"><h3><span class="u-color-accent">2. etasje</span></h3></div>
            <div class="col-2"><p>Den bærekraftige festivalen</p></div>
            <div class="col-3"><p>Musikkforleggerne presenterer: Hvem eier låten</p></div>
            <div class="col-4"><p>Musikkontoret presenterer: demosession</p></div>
            <div class="col-5"><p>Norske Konsertarrangører presenterer: Konsertarrangører som portvoktere </p></div>
            <div class="col-6"><p>Ekspertene svarer</p></div>
            <div class="col-7"></div>
     

            <div class="col-1"><h3><span class="u-color-accent">3. etasje</span></h3></div>
            <div class="col-2"><p>NEMAA presenterer: Hvordan får vi de beste folka inn i bransjen?</p></div>
            <div class="col-3"><p>Under Review</p></div>
            <div class="col-4"><p>Nye takter: penger - hvem får hva?</p></div>
            <div class="col-5"><p>Nye takter: visuell identitet</p></div>
            <div class="col-6"><p>Nye takter: tech</p></div>
            <div class="col-7"><p>Aurora in Conversation</p></div>
        
    </div> #}
  
  </section>


{% endblock %}