{% extends "_layout" %}

{% set featureImage = {
  mode: 'crop',
  width: 900,
  height: 600,
  quality: 90
} %}

{% block content %}
  <h1 class="artister__name">{{ entry.title }}</h1>
  <h2 class="artister__date">{{ entry.concertDate }}</h2>

    <section class="artister__assets">
        {% if entry.featureImage|length %}
            {% for image in entry.featureImage.all() %}
            <img class="artister__image" src="{{ image.getUrl(featureImage) }}" alt="{{ image.title }}" />
            {% endfor %}
        {% endif %}

        <div class="artister__music-embed">
            {{ entry.spotify | raw }}
        </div>
    </section>


  <section class="artister__content">
    {% for block in entry.postContent.all() %}
      <div class="artister__text">
        {% if block.type == 'text' %}
          {{ block.text }}
        {% elseif block.type == 'image' %}
          {% for image in block.image.all() %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </section>

{% endblock %}